/*
    font-family: 'Raleway', sans-serif;
    color-primary: #555
    heading-color-yellow: #FFDC00
    heading-color: #01FF70
    paragraph-color: #464646
    call-to-action button color: #0074D9
    extra color if necessary: #39CCCC
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #555;
    line-height: 1.5;
}


p {
    font-size: 1.8rem;
    color: #464646;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.text-style {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 3rem;
    padding: 1.6rem 0px 1.6rem 0px;
}

.text-center {
    text-align: center;
}

.center-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    width: 50%;

}

.right {
    width: 50%;
}

.padding-left {
    padding: 1.6rem 0rem 1.6rem 5rem;
}

.padding-right {
    padding: 1.6rem 1.6rem 1.6rem 0;
}

.btn:link,
.btn:visited {
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: #0074D9;
    color: white;
}

.btn:hover {
    background-color: #0074d9ab;
}


/* .half-width {
    width: 50%;
} */



/* ____ Header Section _____ */

#header {
    height: 80vh;
    background-image: url(../images/header-bg.png);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-main {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.heading-name {
    font-size: 6rem;
    font-weight: 900;
    color: #01FF70;
    display: block;
    letter-spacing: 1rem;
    line-height: 1;
}

.heading-sub {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    padding: 1.6rem 1.6rem 1.6rem 0;
}

.header-right img {
    width: 100%;
}



/* ____ Biography Section _____ */

#biography {
    height: 80vh;
    background-image: url(../images/biography-bg.png);
}

.biography {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-biography {
    margin-right: 2rem;
}

.left-biography img {
    width: 100%;
}

.biography-heading {
    font-size: 4rem;
    margin-bottom: 1.6rem;
}



/* __________ Latest Work Section _____ */

#latest-work {
    height: 50vh;
    background-image: url(../images/latest-work-bg.png);
}


.latest-work-heading {
    font-size: 4rem;
    margin: 6rem 0px;
}

.latest-work-box {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.latest-work-box img {
    width: 100%;
}

.work-1 {
    padding: 0 1rem;
}

.work-2 {
    padding: 0 1rem;
}

.work-3 {
    padding: 0 1rem;
}


/* ____ Client Section _____ */
#client {
    height: 90vh;
    background-image: url(../images/footer-bg.png);
}

.client-heading {
    font-size: 4rem;
    margin: 4rem 0px;
}

.comment-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-box {
    margin: 2rem 0;
    padding: 2rem 2rem;
    /* background-color: cadetblue; */
    height: 30rem;
    width: 33.3%;
}


.comment-heading {
    font-size: 2.4rem;
}


.comment-box p.comment {
    padding: 2rem 1rem;
    font-size: 1.6rem;
    font-weight: 500;

}

.comment-heading-sub {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

/* contact form */
.contact-box {
    height: 20vh;
    width: 50%;
    background: linear-gradient(to right bottom, rgba(243, 5, 5, 0.712), rgba(5, 13, 85, 0.815));
    border-radius: 2rem;

}


.contact-text {
    margin: 0;
    padding-top: 3rem;
    letter-spacing: 2px;
    color: white;
}

p.email {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}

/* ____ Footer Section _____ */
footer {
    height: 8vh;
    padding-bottom: 3rem;
    font-weight: 500;
}